.container-shadow {
  border-radius: 8px;
  box-shadow: 0px 0px 16px 0px rgba(51, 55, 71, 0.08);
  background-color: #fcfcfd;
  font-family: Plus Jakarta Sans;
}

.border-left-content {
  border-right: 1px solid #E5E6EB;
}

.border-bottom-content {
  border-bottom: 1px solid #E5E6EB;
}