.base-table {
  .table-pagination {
    .table-total {
      font-size: 14px;
    }

    .ant-pagination-item-active {
      background: #5766ff;
      border-color: #5766ff;

      a {
        color: white;
      }
    }
  }

  .pagination-mobile {
    display: none;
  }
}
