.pagination-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .coin-tab {
    .filter {
      width: 100%;
    }

    .table-pagination {
      display: flex;
    }
  }
  .pagination-desktop {
    display: none;
  }

  .pagination-mobile {
    display: flex !important;
  }
}
