.gainer-tab {

  .ant-table-tbody {
    font-family: 'Plus Jakarta Sans Medium';
    color: black;
    font-size: 14px;
  }
}

.overlay-menu-center {
  .ant-dropdown-menu-title-content {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}